html {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff9ee;
}
a {
  width: 139px;
  left: 185px;
  top: 0px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: Judson;
  font-weight: 400;
  text-decoration: none;
}
.active {
  border-bottom: 2px solid #4fe4dd;
}

footer {
  display: flex;
  flex-direction: column;
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
